#logo {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

nav {
    background-color: #3695f3;
    box-shadow: 0 2px 4px 0 rgba(28, 32, 53, 0.1);
}

a.navbar-brand {
    color: #17181f;
    font-weight: 700;
    font-size: 30px !important;
}
